html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  color: #2d3547;
}

h1 {
  font-size: 1.4em;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #c7034a;
}

a:hover {
  color: #ff005c;
}

.strong {
  font-weight: 600;
}

.strikethrough {
  text-decoration: line-through;
}

.subtitle {
  font-weight: 600;
  margin-bottom: 36px;
}

.content {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  box-sizing: border-box;
  padding: 100px;
  align-items: center;
  justify-content: center;
}

.content__text {
  max-width: 600px;
}

.content__image {
  max-width: 420px;
  padding-left: 80px;
}

.image-wrap img {
  border-radius: 24px;
}

.social {
  display: flex;
  flex-direction: row;
  margin-top: 36px;
}

.social a {
  display: block;
  margin-right: 24px;
}

.social a:hover {
  opacity: 0.8;
}
